<div class="chat_window">
    <div class="top_menu">
        <div class="title">
            <button class="btn" aria-label="Volver al Login" title="Haz clic para volver al login"  (click)="goToLogin()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg></button>
          Mensajes
        </div>
      </div>
        <ul class="messages" #messageContainer>
      <li class="message right" *ngFor="let item of messageList"
      [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"
      >
        <div class="avatar"></div>
        <div class="text_wrapper">
          <div class="text">{{item.message}}</div>
        </div>
      </li>
    </ul>
    <div class="bottom_wrapper clearfix">
        <p>Al Cerrar la ventana Se eliminara todo el Historial!! </p>
      <div class="message_input_wrapper">
        <input class="message_input" placeholder="Mensaje..." [(ngModel)]="messageInput" 
        (keyup.enter)="sendMessage()"/>
      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        
        <div class="text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
          </svg> Enviar</div>
      </div>
    </div>
  </div>